<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body>
    <h1>{{.Name}}</h1>
    <h2>{{.Age}}</h2>
    <h3>{{.Something}}</h3>
    <h4>{{.DblAge}}</h4>
    <h5>{{.DblAge | .TakeArg}}</h5>
</body>
</html>