<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body>
Date without formatting : {{.}}
Date with formatting : {{tFormat .}}
</body>
</html>