<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body>
{{range .Wisdom}}
    {{up .Name}}
{{end}}
{{range .Wisdom}}
    {{strip .Name}}
{{end}}
</body>
</html>