<!DOCTYPE htm>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body>
    <h1>Inside index templates {{.}}</h1>
    <p>{{template "polarbear" .}}</p>
</body>
</html>