<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APPLYPROCESS</title>
</head>
<body>
<strong>APPLYPROCESS</strong>
<a href="/">index</a>
<a href="/about">about</a>
<a href="/contact">contact</a>
<a href="/apply">apply</a>
</body>
</html>