<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Input</title>
</head>
<header>
    {{if .Method}} <p>Request method : <strong>{{.Method}}</strong></p>{{end}}
    {{if .URL}}<p>Request URL :</p>
        <ul>
            <li>Scheme : {{.URL.Scheme}}</li>
            <li>Opaque : {{.URL.Opaque}}</li>
            <li>Host : {{.URL.Host}}</li>
            <li>Path : {{.URL.Path}}</li>
            <li>Raw Path : {{.URL.RawPath}}</li>
            <li>ForceQuery : {{.URL.ForceQuery}}</li>
            <li>RawQuery : {{.URL.RawQuery}}</li>
            <li>Fragment : {{.URL.Fragment}}</li>
        </ul>
    {{end}}
    {{if .Header}}
        <p>Headers :</p>
        {{range $key,$value := .Header}}
            <ul>
                <li>{{$key}}:{{range $value}}<em>{{.}}</em>{{end}}</li>
            </ul>
        {{end}}
    {{end}}
    {{if .Submissions}}
        <p><strong>Variable Names</strong>{Identifiers}<em>names</em></p>
        {{range $key,$value := .Submissions}}
            <p><strong>{{$key}}:</strong></p>
            <ul>{{range $value}}<li><em>{{.}}</em></li>{{end}}</ul>
        {{end}}
    {{end}}
</header>
<form action="/" method="post">
    <input type="text" name="fname" placeholder="first name" autofocus autocomplete="off">
    <input type="submit" name="submit-btn" value="on the button">
</form>
</html>